---
- name: "Create Gitea Group"
  group:
    name: "{{ gitea_group }}"
    state: present

- name: "Create Gitea user"
  user:
    name: "{{ gitea_user }}"
    comment: "Gitea user"
    home: "{{ gitea_home }}"
    shell: "{{ gitea_shell }}"
    system: yes
